<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.art_cs19.news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        //หน้าแรก
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChoosedActivity" />
        //ครอปภาพ
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity
            android:name=".PostActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- ซ่อนคีย์บอร์ด -->
        <activity android:name=".SingleActivity" />
        <activity android:name=".RadioActivity" />
        <activity android:name=".RadioSingleActivity" />
        <activity android:name=".NewsMainActivity" />
        <activity android:name=".MainActivity" />

        <service
            android:name=".RadioService"
            android:enabled="true" />
        <service
            android:name=".SongService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".NotificationBroadcast">
            <intent-filter>
                <action android:name="com.tutorialsface.audioplayer.delete" />
                <action android:name="com.tutorialsface.audioplayer.pause" />
                <action android:name="com.tutorialsface.audioplayer.next" />
                <action android:name="com.tutorialsface.audioplayer.play" />
                <action android:name="com.tutorialsface.audioplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity android:name=".AudioBookMainActivity" />
        <activity
            android:name=".PostAudioBookActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" /> <!-- ซ่อนคีย์บอร์ด -->

        <activity android:name=".SingleAudioBookActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LogInActivity"></activity>
    </application>

</manifest>